<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="/js/registerController.js"></script>
    <meta charset="utf-8">
    <title>CD SHOPPER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  <meta name="description" content="">
    <!--[if ie]><!--<meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
<!--  <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet"/>-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- global styles -->
 <!--  <link href="css/flexslider.css" rel="stylesheet"/>-->
   <!-- <link href="css/main.css" rel="stylesheet"/>

    <!-- scripts -->
   <!-- <script src="themes/js/jquery-1.7.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="themes/js/superfish.js"></script>
    <script src="themes/js/jquery.scrolltotop.js"></script>
    <!--[if lt IE 9]>
   <!-- <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

body{
	font-size: 12px;
	font-family: 'Open Sans', arial, tahoma, sans-serif;
	background:url(../images/bg.png) repeat 0 0 fixed;
}

.custom-centered{
 margin:0 auto;
 width:300px;
  position:absolute;
  top:50%;
  right:50%;
  margin-top:50px;
  margin-right:-700px;

}
.inside{
        border: 3px solid green;
 padding: 10px;
 padding-top: 20px;
 font-family: Montserrat;
 font-size:140%;
}
.arial{
    font-family: Arial;
    font-size: medium;
    color: red;
    font-weight:bold;
}
.Montserrat{
  font-family: Georgia;
  font-size:130%;
  color: black;
}
.footer{
 font-family: Montserrat;
 font-size:140%;
}

</style>
</head>
<body>
<div class="content">
    <div class="col-lg-1">

<div role="form" class="custom-centered" >

       <div class="arial"> <h1>REGISTER FORM</h1><br></div>
           <div class=" Montserrat"><p>Please fill in this form to create an account.</p></div>
        <hr>
    <div class="inside">
    <div class="form-group">
      <label for="userName"><b>UserName</b></label>
        <input type="text" class="form-control"  ng-model="user.userName" placeholder="Enter UserName" name="_username" required ><br>
    </div>
    <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="text"   class="form-control" ng-model="user.email" placeholder="Enter Email" name="email" required><br>
    </div>
    <div class="form-group">
        <label for="psw"><b>Password</b></label>
        <input type="password"  class="form-control" ng-model="user.password" placeholder="Enter Password" name="password" required><br>
    </div>
    <div class="form-group">
        <label for="name"><b>Name</b></label>
        <input type="text"  class="form-control"  ng-model="user.name" placeholder="Enter Name" name="name" required><br>
    </div>
    <div class="form-group">
        <label for="address1"><b>Address Line1</b></label>
        <input type="text"  class="form-control" ng-model="user.address1" placeholder="Enter address line1" name="address1" required><br>
    </div>
    <div class="form-group">
        <label for="address2"><b>Address Line2</b></label>
        <input type="text"   class="form-control" ng-model="user.address2" placeholder="Enter address line2" name="address2" required><br>
    </div>
    </div>
        <hr>
      <div class="footer">  <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        <button ng-click="submit()"class="btn btn-primary" >CREATE ACCOUNT</button>
      </div>

    <h1>{{myWelcome}}</h1>
    <div class="container signin">
        <p>Already have an account? <a href="#">Sign in</a>.</p>
    </div>

</form>
    </div>
</div>

</div>
</body>
</html>